@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-4">Welcome to the Contract Monthly Claim System (CMCS)</h1>
    <p class="lead">This is your go-to application for managing and approving monthly claims seamlessly.</p>
    <hr class="my-4">
    <p>Explore the features and get started with your tasks:</p>
    <a class="btn btn-primary btn-lg" href="/Home/SubmitClaim" role="button">Submit Claim</a>
    <a class="btn btn-secondary btn-lg" href="/Home/ViewClaims" role="button">View Claims</a>
    <a class="btn btn-success btn-lg" href="/Home/ApproveClaims" role="button">Approve Claims</a>
</div>
